.anime {
    position: relative;
    width: 280px;
    margin-bottom: 1em;
}

.anime .cabecalho {
    background-color:  #F0F0F0;
    border-radius: 10px 10px 0px 0px;
}
.anime img {
    width: 180px;
    border-radius: 4%;
    position: relative;
    bottom: -50px;
}

.anime .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.anime .rodape h4 {
    color: #ff914d;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.anime .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.delete{
    position: absolute;
    right: -10px;
    top: -10px;
    cursor: pointer;
    font-size: 22px;
    color: red;
}

